In [523]:
import numpy as np
import pandas as pd
import xlrd
import xlwt
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import jupyterlab
%matplotlib inline

In [524]:
testing = pd.read_csv('cloudTest.csv')

In [525]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_name                1500 non-null   object
 1   record_date              1500 non-null   object
 2   AVERAGE_FREE_FLOW_SPEED  1500 non-null   float64
 3   AVERAGE_TIME_DIFF        1500 non-null   float64
 4   AVERAGE_FREE_FLOW_TIME   1500 non-null   float64
 5   LUMINOSITY               1500 non-null   object
 6   AVERAGE_TEMPERATURE      1500 non-null   float64
 7   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 8   AVERAGE_HUMIDITY         1500 non-null   float64
 9   AVERAGE_WIND_SPEED       1500 non-null   float64
 10  AVERAGE_PRECIPITATION    1500 non-null   float64
 11  AVERAGE_RAIN             1500 non-null   object
 12  AVERAGE_CLOUDINESS       1500 non-null   object
dtypes: float64(8), object(5)
memory usage: 152.5+ KB

In [526]:
print(testing.shape)
testing.isnull().sum()

(1500, 13)

city_name                  0
record_date                0
AVERAGE_FREE_FLOW_SPEED    0
AVERAGE_TIME_DIFF          0
AVERAGE_FREE_FLOW_TIME     0
LUMINOSITY                 0
AVERAGE_TEMPERATURE        0
AVERAGE_ATMOSP_PRESSURE    0
AVERAGE_HUMIDITY           0
AVERAGE_WIND_SPEED         0
AVERAGE_PRECIPITATION      0
AVERAGE_RAIN               0
AVERAGE_CLOUDINESS         0
dtype: int64

In [527]:
#testing['AVERAGE_CLOUDINESS'] = testing['AVERAGE_CLOUDINESS'].fillna(testing['AVERAGE_CLOUDINESS'].mode()[0])
#testing['AVERAGE_CLOUDINESS'] = testing['AVERAGE_CLOUDINESS'].fillna('Not Available')

In [528]:
testing['AVERAGE_DISTANCE_FREE'] = testing['AVERAGE_FREE_FLOW_TIME'] * testing['AVERAGE_FREE_FLOW_SPEED']

In [529]:
testing['AVERAGE_TIME'] = testing['AVERAGE_TIME_DIFF'] + testing['AVERAGE_FREE_FLOW_TIME']

In [530]:
testing['AVERAGE_SPEED'] =  testing['AVERAGE_DISTANCE_FREE'] / testing['AVERAGE_TIME']

In [531]:
testing['AVERAGE_SPEED_DIFF_Num'] =  testing['AVERAGE_FREE_FLOW_SPEED'] - testing['AVERAGE_SPEED']

In [532]:
testing['record_date'] = pd.to_datetime(testing['record_date'])

testing['weekday'] = testing['record_date'].dt.dayofweek
testing['hour'] = testing['record_date'].dt.hour
testing['month'] = testing['record_date'].dt.month
testing['year'] = testing['record_date'].dt.year
testing['day'] = testing['record_date'].dt.day

In [533]:
def applyer(row):
    if row == 5 or row == 6:
        return 1
    else:
        return 0 
temp2 = testing['weekday'].apply(applyer) 
testing['weekend']=temp2

In [534]:
testing.drop(['AVERAGE_PRECIPITATION','city_name','record_date','AVERAGE_RAIN','AVERAGE_FREE_FLOW_SPEED','AVERAGE_FREE_FLOW_TIME','AVERAGE_DISTANCE_FREE'],axis=1,inplace=True)

In [535]:

df_dummies = testing[['LUMINOSITY','AVERAGE_CLOUDINESS']]

In [536]:
dummied = testing.copy()

In [537]:
for i in df_dummies:
    dummied = pd.concat([dummied,pd.get_dummies(dummied[i])],axis='columns').drop([i],axis='columns')

In [538]:
dummied.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AVERAGE_TIME_DIFF        1500 non-null   float64
 1   AVERAGE_TEMPERATURE      1500 non-null   float64
 2   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 3   AVERAGE_HUMIDITY         1500 non-null   float64
 4   AVERAGE_WIND_SPEED       1500 non-null   float64
 5   AVERAGE_TIME             1500 non-null   float64
 6   AVERAGE_SPEED            1500 non-null   float64
 7   AVERAGE_SPEED_DIFF_Num   1500 non-null   float64
 8   weekday                  1500 non-null   int64
 9   hour                     1500 non-null   int64
 10  month                    1500 non-null   int64
 11  year                     1500 non-null   int64
 12  day                      1500 non-null   int64
 13  weekend                  1500 non-null   int64
 14  DARK                     1500 non-null   uint8
 15  LIGHT                    1500 non-null   uint8
 16  LOW_LIGHT                1500 non-null   uint8
 17  céu limpo                1500 non-null   uint8
 18  céu pouco nublado        1500 non-null   uint8
 19  nublado                  1500 non-null   uint8
 20  nuvens quebradas         1500 non-null   uint8
dtypes: float64(8), int64(6), uint8(7)
memory usage: 174.4 KB

In [539]:
#testing['city_name'].value_counts()

In [540]:
#dummied['record_date'].value_counts().sort_values(ascending=False)

In [541]:
testing['LUMINOSITY'].value_counts()

DARK         730
LIGHT        725
LOW_LIGHT     45
Name: LUMINOSITY, dtype: int64

In [542]:
testing['AVERAGE_CLOUDINESS'].value_counts()

nuvens quebradas     777
céu limpo            528
céu pouco nublado    154
nublado               41
Name: AVERAGE_CLOUDINESS, dtype: int64

In [543]:
dummied.isna().sum()

AVERAGE_TIME_DIFF          0
AVERAGE_TEMPERATURE        0
AVERAGE_ATMOSP_PRESSURE    0
AVERAGE_HUMIDITY           0
AVERAGE_WIND_SPEED         0
AVERAGE_TIME               0
AVERAGE_SPEED              0
AVERAGE_SPEED_DIFF_Num     0
weekday                    0
hour                       0
month                      0
year                       0
day                        0
weekend                    0
DARK                       0
LIGHT                      0
LOW_LIGHT                  0
céu limpo                  0
céu pouco nublado          0
nublado                    0
nuvens quebradas           0
dtype: int64

In [544]:
dummied = dummied.reindex(sorted(dummied.columns), axis=1)

In [545]:
dummied.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 1   AVERAGE_HUMIDITY         1500 non-null   float64
 2   AVERAGE_SPEED            1500 non-null   float64
 3   AVERAGE_SPEED_DIFF_Num   1500 non-null   float64
 4   AVERAGE_TEMPERATURE      1500 non-null   float64
 5   AVERAGE_TIME             1500 non-null   float64
 6   AVERAGE_TIME_DIFF        1500 non-null   float64
 7   AVERAGE_WIND_SPEED       1500 non-null   float64
 8   DARK                     1500 non-null   uint8
 9   LIGHT                    1500 non-null   uint8
 10  LOW_LIGHT                1500 non-null   uint8
 11  céu limpo                1500 non-null   uint8
 12  céu pouco nublado        1500 non-null   uint8
 13  day                      1500 non-null   int64
 14  hour                     1500 non-null   int64
 15  month                    1500 non-null   int64
 16  nublado                  1500 non-null   uint8
 17  nuvens quebradas         1500 non-null   uint8
 18  weekday                  1500 non-null   int64
 19  weekend                  1500 non-null   int64
 20  year                     1500 non-null   int64
dtypes: float64(8), int64(6), uint8(7)
memory usage: 174.4 KB

In [546]:
dummied.head()

,AVERAGE_ATMOSP_PRESSURE,AVERAGE_HUMIDITY,AVERAGE_SPEED,AVERAGE_SPEED_DIFF_Num,AVERAGE_TEMPERATURE,AVERAGE_TIME,AVERAGE_TIME_DIFF,AVERAGE_WIND_SPEED,DARK,LIGHT,...,céu limpo,céu pouco nublado,day,hour,month,nublado,nuvens quebradas,weekday,weekend,year
0,1026.0,71.0,39.200000,0.000000,8.0,91.0,0.0,1.0,1,0,...,1,0,13,23,2,0,0,2,0,2019
1,1020.0,93.0,36.674157,5.825843,11.0,89.0,12.2,4.0,1,0,...,0,0,28,20,11,0,1,2,0,2018
2,1017.0,93.0,45.900000,0.000000,14.0,86.3,0.0,0.0,1,0,...,1,0,14,5,8,0,0,1,0,2018
3,1016.0,77.0,21.078249,12.121751,22.0,141.6,51.7,4.0,0,1,...,0,1,6,17,7,0,0,5,1,2019
4,1004.0,100.0,42.269663,1.730337,12.0,89.0,3.5,9.0,1,0,...,0,0,15,6,10,0,1,0,0,2018

In [547]:
dummied.to_csv('workedTesting.csv',index=False)