In [406]:
import numpy as np
import pandas as pd
import xlrd
import xlwt
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import jupyterlab
%matplotlib inline

In [407]:
testing = pd.read_csv('cloudTest.csv')

In [408]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_name                1500 non-null   object
 1   record_date              1500 non-null   object
 2   AVERAGE_FREE_FLOW_SPEED  1500 non-null   float64
 3   AVERAGE_TIME_DIFF        1500 non-null   float64
 4   AVERAGE_FREE_FLOW_TIME   1500 non-null   float64
 5   LUMINOSITY               1500 non-null   object
 6   AVERAGE_TEMPERATURE      1500 non-null   float64
 7   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 8   AVERAGE_HUMIDITY         1500 non-null   float64
 9   AVERAGE_WIND_SPEED       1500 non-null   float64
 10  AVERAGE_PRECIPITATION    1500 non-null   float64
 11  AVERAGE_RAIN             1500 non-null   object
 12  AVERAGE_CLOUDINESS       1500 non-null   object
dtypes: float64(8), object(5)
memory usage: 152.5+ KB

In [409]:
print(testing.shape)
testing.isnull().sum()

(1500, 13)

city_name                  0
record_date                0
AVERAGE_FREE_FLOW_SPEED    0
AVERAGE_TIME_DIFF          0
AVERAGE_FREE_FLOW_TIME     0
LUMINOSITY                 0
AVERAGE_TEMPERATURE        0
AVERAGE_ATMOSP_PRESSURE    0
AVERAGE_HUMIDITY           0
AVERAGE_WIND_SPEED         0
AVERAGE_PRECIPITATION      0
AVERAGE_RAIN               0
AVERAGE_CLOUDINESS         0
dtype: int64

In [410]:
#testing['AVERAGE_CLOUDINESS'] = testing['AVERAGE_CLOUDINESS'].fillna(testing['AVERAGE_CLOUDINESS'].mode()[0])
testing['AVERAGE_CLOUDINESS'] = testing['AVERAGE_CLOUDINESS'].fillna('Not Available')

In [411]:
#testing['AVERAGE_WIND_SPEED'] = np.log(testing.AVERAGE_WIND_SPEED+1)
#testing['AVERAGE_TIME_DIFF'] = np.log(testing.AVERAGE_TIME_DIFF+1)

In [412]:
testing['record_date'] = pd.to_datetime(testing['record_date'])

testing['weekday'] = testing['record_date'].dt.dayofweek
testing['hour'] = testing['record_date'].dt.hour
testing['month'] = testing['record_date'].dt.month
#testing['year'] = testing['record_date'].dt.year
testing['day'] = testing['record_date'].dt.day

In [413]:
testing.drop(['AVERAGE_PRECIPITATION','city_name','record_date','AVERAGE_RAIN'],axis=1,inplace=True)

In [414]:

df_dummies = testing[['LUMINOSITY','AVERAGE_CLOUDINESS']]

In [415]:
dummied = testing.copy()

In [416]:
for i in df_dummies:
    dummied = pd.concat([dummied,pd.get_dummies(dummied[i])],axis='columns').drop([i],axis='columns')

In [417]:
dummied.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AVERAGE_FREE_FLOW_SPEED  1500 non-null   float64
 1   AVERAGE_TIME_DIFF        1500 non-null   float64
 2   AVERAGE_FREE_FLOW_TIME   1500 non-null   float64
 3   AVERAGE_TEMPERATURE      1500 non-null   float64
 4   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 5   AVERAGE_HUMIDITY         1500 non-null   float64
 6   AVERAGE_WIND_SPEED       1500 non-null   float64
 7   weekday                  1500 non-null   int64
 8   hour                     1500 non-null   int64
 9   month                    1500 non-null   int64
 10  day                      1500 non-null   int64
 11  DARK                     1500 non-null   uint8
 12  LIGHT                    1500 non-null   uint8
 13  LOW_LIGHT                1500 non-null   uint8
 14  céu limpo                1500 non-null   uint8
 15  céu pouco nublado        1500 non-null   uint8
 16  nublado                  1500 non-null   uint8
 17  nuvens quebradas         1500 non-null   uint8
dtypes: float64(7), int64(4), uint8(7)
memory usage: 139.3 KB

In [418]:
#testing['city_name'].value_counts()

In [419]:
#dummied['record_date'].value_counts().sort_values(ascending=False)

In [420]:
testing['LUMINOSITY'].value_counts()

DARK         730
LIGHT        725
LOW_LIGHT     45
Name: LUMINOSITY, dtype: int64

In [421]:
testing['AVERAGE_CLOUDINESS'].value_counts()

nuvens quebradas     777
céu limpo            528
céu pouco nublado    154
nublado               41
Name: AVERAGE_CLOUDINESS, dtype: int64

In [422]:
dummied.isna().sum()

AVERAGE_FREE_FLOW_SPEED    0
AVERAGE_TIME_DIFF          0
AVERAGE_FREE_FLOW_TIME     0
AVERAGE_TEMPERATURE        0
AVERAGE_ATMOSP_PRESSURE    0
AVERAGE_HUMIDITY           0
AVERAGE_WIND_SPEED         0
weekday                    0
hour                       0
month                      0
day                        0
DARK                       0
LIGHT                      0
LOW_LIGHT                  0
céu limpo                  0
céu pouco nublado          0
nublado                    0
nuvens quebradas           0
dtype: int64

In [423]:
dummied = dummied.reindex(sorted(dummied.columns), axis=1)

In [424]:
dummied.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 1   AVERAGE_FREE_FLOW_SPEED  1500 non-null   float64
 2   AVERAGE_FREE_FLOW_TIME   1500 non-null   float64
 3   AVERAGE_HUMIDITY         1500 non-null   float64
 4   AVERAGE_TEMPERATURE      1500 non-null   float64
 5   AVERAGE_TIME_DIFF        1500 non-null   float64
 6   AVERAGE_WIND_SPEED       1500 non-null   float64
 7   DARK                     1500 non-null   uint8
 8   LIGHT                    1500 non-null   uint8
 9   LOW_LIGHT                1500 non-null   uint8
 10  céu limpo                1500 non-null   uint8
 11  céu pouco nublado        1500 non-null   uint8
 12  day                      1500 non-null   int64
 13  hour                     1500 non-null   int64
 14  month                    1500 non-null   int64
 15  nublado                  1500 non-null   uint8
 16  nuvens quebradas         1500 non-null   uint8
 17  weekday                  1500 non-null   int64
dtypes: float64(7), int64(4), uint8(7)
memory usage: 139.3 KB

In [425]:
dummied.head()

,AVERAGE_ATMOSP_PRESSURE,AVERAGE_FREE_FLOW_SPEED,AVERAGE_FREE_FLOW_TIME,AVERAGE_HUMIDITY,AVERAGE_TEMPERATURE,AVERAGE_TIME_DIFF,AVERAGE_WIND_SPEED,DARK,LIGHT,LOW_LIGHT,céu limpo,céu pouco nublado,day,hour,month,nublado,nuvens quebradas,weekday
0,1026.0,39.2,91.0,71.0,8.0,0.0,1.0,1,0,0,1,0,13,23,2,0,0,2
1,1020.0,42.5,76.8,93.0,11.0,12.2,4.0,1,0,0,0,0,28,20,11,0,1,2
2,1017.0,45.9,86.3,93.0,14.0,0.0,0.0,1,0,0,1,0,14,5,8,0,0,1
3,1016.0,33.2,89.9,77.0,22.0,51.7,4.0,0,1,0,0,1,6,17,7,0,0,5
4,1004.0,44.0,85.5,100.0,12.0,3.5,9.0,1,0,0,0,0,15,6,10,0,1,0

In [426]:
dummied.to_csv('workedTesting.csv',index=False)