In [201]:
import numpy as np
import pandas as pd
import xlrd
import xlwt
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import jupyterlab
%matplotlib inline

In [202]:
testing = pd.read_csv('test_data.csv', encoding = "latin")

In [203]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city_name                1500 non-null   object
 1   record_date              1500 non-null   object
 2   AVERAGE_FREE_FLOW_SPEED  1500 non-null   float64
 3   AVERAGE_TIME_DIFF        1500 non-null   float64
 4   AVERAGE_FREE_FLOW_TIME   1500 non-null   float64
 5   LUMINOSITY               1500 non-null   object
 6   AVERAGE_TEMPERATURE      1500 non-null   float64
 7   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 8   AVERAGE_HUMIDITY         1500 non-null   float64
 9   AVERAGE_WIND_SPEED       1500 non-null   float64
 10  AVERAGE_CLOUDINESS       901 non-null    object
 11  AVERAGE_PRECIPITATION    1500 non-null   float64
 12  AVERAGE_RAIN             140 non-null    object
dtypes: float64(8), object(5)
memory usage: 152.5+ KB

In [204]:
print(testing.shape)
testing.isnull().sum()

(1500, 13)

city_name                     0
record_date                   0
AVERAGE_FREE_FLOW_SPEED       0
AVERAGE_TIME_DIFF             0
AVERAGE_FREE_FLOW_TIME        0
LUMINOSITY                    0
AVERAGE_TEMPERATURE           0
AVERAGE_ATMOSP_PRESSURE       0
AVERAGE_HUMIDITY              0
AVERAGE_WIND_SPEED            0
AVERAGE_CLOUDINESS          599
AVERAGE_PRECIPITATION         0
AVERAGE_RAIN               1360
dtype: int64

In [205]:
testing['AVERAGE_CLOUDINESS'] = testing['AVERAGE_CLOUDINESS'].fillna(testing['AVERAGE_CLOUDINESS'].mode()[0])
testing['AVERAGE_RAIN'] = testing['AVERAGE_RAIN'].fillna('NoData')

In [206]:
testing['AVERAGE_DISTANCE_FREE'] = testing['AVERAGE_FREE_FLOW_TIME'] * testing['AVERAGE_FREE_FLOW_SPEED']

In [207]:
testing['AVERAGE_TIME'] = testing['AVERAGE_TIME_DIFF'] + testing['AVERAGE_FREE_FLOW_TIME']

In [208]:
testing['AVERAGE_SPEED'] =  testing['AVERAGE_DISTANCE_FREE'] / testing['AVERAGE_TIME']

In [209]:
testing['AVERAGE_SPEED_DIFF_Num'] =  testing['AVERAGE_FREE_FLOW_SPEED'] - testing['AVERAGE_SPEED']

In [210]:
testing['record_date'] = pd.to_datetime(testing['record_date'])

testing['weekday'] = testing['record_date'].dt.dayofweek
testing['hour'] = testing['record_date'].dt.hour
testing['month'] = testing['record_date'].dt.month
testing['year'] = testing['record_date'].dt.year
testing['day'] = testing['record_date'].dt.day

In [211]:
def applyer(row):
    if row == 5 or row == 6:
        return 1
    else:
        return 0 
temp2 = testing['weekday'].apply(applyer) 
testing['weekend']=temp2

In [212]:
testing.drop(['AVERAGE_PRECIPITATION','city_name','record_date','AVERAGE_RAIN','AVERAGE_FREE_FLOW_SPEED','AVERAGE_FREE_FLOW_TIME','AVERAGE_DISTANCE_FREE'],axis=1,inplace=True)

In [213]:

df_dummies = testing[['LUMINOSITY','AVERAGE_CLOUDINESS']]

In [214]:
dummied = testing.copy()

In [215]:
for i in df_dummies:
    dummied = pd.concat([dummied,pd.get_dummies(dummied[i])],axis='columns')#.drop([i],axis='columns')

In [216]:
dummied.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AVERAGE_TIME_DIFF        1500 non-null   float64
 1   LUMINOSITY               1500 non-null   object
 2   AVERAGE_TEMPERATURE      1500 non-null   float64
 3   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 4   AVERAGE_HUMIDITY         1500 non-null   float64
 5   AVERAGE_WIND_SPEED       1500 non-null   float64
 6   AVERAGE_CLOUDINESS       1500 non-null   object
 7   AVERAGE_TIME             1500 non-null   float64
 8   AVERAGE_SPEED            1500 non-null   float64
 9   AVERAGE_SPEED_DIFF_Num   1500 non-null   float64
 10  weekday                  1500 non-null   int64
 11  hour                     1500 non-null   int64
 12  month                    1500 non-null   int64
 13  year                     1500 non-null   int64
 14  day                      1500 non-null   int64
 15  weekend                  1500 non-null   int64
 16  DARK                     1500 non-null   uint8
 17  LIGHT                    1500 non-null   uint8
 18  LOW_LIGHT                1500 non-null   uint8
 19  algumas nuvens           1500 non-null   uint8
 20  céu claro                1500 non-null   uint8
 21  céu limpo                1500 non-null   uint8
 22  céu pouco nublado        1500 non-null   uint8
 23  nublado                  1500 non-null   uint8
 24  nuvens dispersas         1500 non-null   uint8
 25  nuvens quebradas         1500 non-null   uint8
 26  nuvens quebrados         1500 non-null   uint8
 27  tempo nublado            1500 non-null   uint8
dtypes: float64(8), int64(6), object(2), uint8(12)
memory usage: 205.2+ KB

In [217]:
#testing['city_name'].value_counts()

In [218]:
#dummied['record_date'].value_counts().sort_values(ascending=False)

In [219]:
testing['LUMINOSITY'].value_counts()

DARK         730
LIGHT        725
LOW_LIGHT     45
Name: LUMINOSITY, dtype: int64

In [220]:
testing['AVERAGE_CLOUDINESS'].value_counts()

céu claro            944
céu pouco nublado    109
algumas nuvens        98
nuvens quebrados      96
nuvens quebradas      95
nuvens dispersas      94
céu limpo             27
tempo nublado         20
nublado               17
Name: AVERAGE_CLOUDINESS, dtype: int64

In [221]:
dummied.isna().sum()

AVERAGE_TIME_DIFF          0
LUMINOSITY                 0
AVERAGE_TEMPERATURE        0
AVERAGE_ATMOSP_PRESSURE    0
AVERAGE_HUMIDITY           0
AVERAGE_WIND_SPEED         0
AVERAGE_CLOUDINESS         0
AVERAGE_TIME               0
AVERAGE_SPEED              0
AVERAGE_SPEED_DIFF_Num     0
weekday                    0
hour                       0
month                      0
year                       0
day                        0
weekend                    0
DARK                       0
LIGHT                      0
LOW_LIGHT                  0
algumas nuvens             0
céu claro                  0
céu limpo                  0
céu pouco nublado          0
nublado                    0
nuvens dispersas           0
nuvens quebradas           0
nuvens quebrados           0
tempo nublado              0
dtype: int64

In [222]:
dummied = dummied.reindex(sorted(dummied.columns), axis=1)

In [223]:
dummied.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AVERAGE_ATMOSP_PRESSURE  1500 non-null   float64
 1   AVERAGE_CLOUDINESS       1500 non-null   object
 2   AVERAGE_HUMIDITY         1500 non-null   float64
 3   AVERAGE_SPEED            1500 non-null   float64
 4   AVERAGE_SPEED_DIFF_Num   1500 non-null   float64
 5   AVERAGE_TEMPERATURE      1500 non-null   float64
 6   AVERAGE_TIME             1500 non-null   float64
 7   AVERAGE_TIME_DIFF        1500 non-null   float64
 8   AVERAGE_WIND_SPEED       1500 non-null   float64
 9   DARK                     1500 non-null   uint8
 10  LIGHT                    1500 non-null   uint8
 11  LOW_LIGHT                1500 non-null   uint8
 12  LUMINOSITY               1500 non-null   object
 13  algumas nuvens           1500 non-null   uint8
 14  céu claro                1500 non-null   uint8
 15  céu limpo                1500 non-null   uint8
 16  céu pouco nublado        1500 non-null   uint8
 17  day                      1500 non-null   int64
 18  hour                     1500 non-null   int64
 19  month                    1500 non-null   int64
 20  nublado                  1500 non-null   uint8
 21  nuvens dispersas         1500 non-null   uint8
 22  nuvens quebradas         1500 non-null   uint8
 23  nuvens quebrados         1500 non-null   uint8
 24  tempo nublado            1500 non-null   uint8
 25  weekday                  1500 non-null   int64
 26  weekend                  1500 non-null   int64
 27  year                     1500 non-null   int64
dtypes: float64(8), int64(6), object(2), uint8(12)
memory usage: 205.2+ KB

In [224]:
dummied.head()

,AVERAGE_ATMOSP_PRESSURE,AVERAGE_CLOUDINESS,AVERAGE_HUMIDITY,AVERAGE_SPEED,AVERAGE_SPEED_DIFF_Num,AVERAGE_TEMPERATURE,AVERAGE_TIME,AVERAGE_TIME_DIFF,AVERAGE_WIND_SPEED,DARK,...,hour,month,nublado,nuvens dispersas,nuvens quebradas,nuvens quebrados,tempo nublado,weekday,weekend,year
0,1026.0,céu claro,71.0,39.200000,0.000000,8.0,91.0,0.0,1.0,1,...,23,2,0,0,0,0,0,2,0,2019
1,1020.0,nuvens dispersas,93.0,36.674157,5.825843,11.0,89.0,12.2,4.0,1,...,20,11,0,1,0,0,0,2,0,2018
2,1017.0,céu claro,93.0,45.900000,0.000000,14.0,86.3,0.0,0.0,1,...,5,8,0,0,0,0,0,1,0,2018
3,1016.0,céu pouco nublado,77.0,21.078249,12.121751,22.0,141.6,51.7,4.0,0,...,17,7,0,0,0,0,0,5,1,2019
4,1004.0,céu claro,100.0,42.269663,1.730337,12.0,89.0,3.5,9.0,1,...,6,10,0,0,0,0,0,0,0,2018

In [225]:
dummied.to_csv('workedTesting.csv',index=False)