In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
%matplotlib inline

In [2]:
training = pd.read_csv('processedTrain.csv')

In [3]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import BorderlineSMOTE
from imblearn.over_sampling import SVMSMOTE 
from imblearn.combine import SMOTEENN 
from imblearn.combine import SMOTETomek 
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler

In [4]:
sm = BorderlineSMOTE(random_state=2021,kind='borderline-2')
ros = RandomOverSampler(sampling_strategy="not majority",random_state=2021)

In [5]:
from pycaret.classification import *

In [6]:
classify = setup(data = training , target = 'AVERAGE_SPEED_DIFF',train_size=0.8,session_id=2021,normalize = True,fix_imbalance=True,fix_imbalance_method=sm)

In [7]:
best_model = compare_models()

In [8]:
lightgbm = create_model('lightgbm')
rf = create_model('rf')
xgboost = create_model('xgboost')

In [9]:
bagged_lightgbm = ensemble_model(lightgbm, method = 'Bagging')

In [10]:
bagged_rf = ensemble_model(rf, method = 'Bagging')

In [11]:
bagged_xgb = ensemble_model(xgboost, method = 'Bagging')

In [12]:
blender_specific = blend_models(estimator_list = [lightgbm,rf,xgboost], method = 'soft')

In [26]:
evaluate_model(lightgbm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [14]:
predict_model(bagged_lightgbm);

In [15]:
final_rf = finalize_model(bagged_lightgbm)

In [16]:
testing = pd.read_csv('processedTest.csv')
unseen_predictions = predict_model(bagged_lightgbm, data=testing)

In [17]:
unseen_predictions['AVERAGE_SPEED_DIFF'] = unseen_predictions['Label']

In [18]:
sub_df = pd.read_csv('example_submission.csv')
final_data = {'RowId': sub_df.RowId, 'Speed_Diff': unseen_predictions['AVERAGE_SPEED_DIFF']}
submission = pd.DataFrame(data=final_data)

In [19]:
submission['Speed_Diff'].value_counts()

None         425
Low          359
Medium       340
High         262
Very_High    114
Name: Speed_Diff, dtype: int64

In [20]:
compare = pd.read_csv('sample_submission.csv')

In [21]:
compare['Speed_Diff'].value_counts()

None         482
Medium       340
Low          313
High         268
Very_High     97
Name: Speed_Diff, dtype: int64

In [22]:
df1 = np.where(submission['Speed_Diff'] == compare['Speed_Diff'], 'True', 'False')
df1 = pd.DataFrame(df1)
df1.columns=['equals']
df1.value_counts()

equals
True      1193
False      307
dtype: int64

In [23]:
submission.head()

   RowId Speed_Diff
0      1       None
1      2     Medium
2      3       None
3      4     Medium
4      5        Low

In [24]:
submission.to_csv('submission.csv',index=False)